---
import { Icon } from "astro-icon/components";
import projects from "../data/projects.json";
import achievements from "../data/achievements.json";
import SocialLinks from "../components/SocialLinks.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";

const blogs = await Astro.glob("./posts/*.md");
---

<MainLayout title="Home">
  <Hero>
    <h1 class="mb-4 text-5xl font-bold md:text-6xl">Aviv Keller</h1>
    <p class="mb-8 text-xl md:text-2xl">Developer & Security Enthusiast</p>
    <a
      href="#projects"
      class="rounded-full bg-white px-8 py-3 text-lg font-semibold text-red-600 transition-colors duration-300 hover:bg-red-100"
      >View My Work</a
    >
  </Hero>
  {/* Main Content */}
  <main>
    {/* Projects Section */}
    <section id="projects" class="bg-white py-20">
      <div class="container mx-auto px-4">
        <h2 class="mb-8 text-center text-3xl font-bold">Projects</h2>
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
          {
            projects.slice(0, 3).map((project) => (
              <div class="flex transform flex-col justify-between overflow-hidden rounded-lg bg-gray-50 shadow-md transition duration-300 hover:-translate-y-1 hover:shadow-lg">
                {project.image && (
                  <img
                    src={project.image}
                    alt={project.title}
                    class="h-48 w-full object-cover"
                  />
                )}
                <div class="p-6">
                  <h3 class="mb-2 text-xl font-semibold">{project.title}</h3>
                  <p class="mb-4 text-gray-600">{project.description}</p>
                  <a
                    href={project.website || project.githubLink}
                    class="font-semibold text-red-600 transition-colors duration-300 hover:text-red-700"
                  >
                    View More
                  </a>
                </div>
              </div>
            ))
          }
        </div>
        <div class="mt-12 text-center">
          <a
            href="/projects"
            class="rounded-full bg-red-600 px-8 py-3 text-lg font-semibold text-white transition-colors duration-300 hover:bg-red-700"
          >
            View More Projects
          </a>
        </div>
      </div>
    </section>

    {/* Achievements Section */}
    <section id="achievements" class="bg-red-50 py-20">
      <div class="container mx-auto px-4">
        <h2 class="mb-8 text-center text-3xl font-bold">Achievements</h2>
        <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
          {
            achievements.slice(0, 3).map((achievement) => (
              <div class="transform rounded-lg bg-white p-6 text-center shadow-md transition duration-300 hover:scale-105">
                <div class="mb-4 flex justify-center">
                  <Icon
                    class="h-12 w-12 text-red-600"
                    name={achievement.icon}
                  />
                </div>
                <h3 class="mb-2 text-xl font-semibold">{achievement.title}</h3>
                {achievement.url && (
                  <a
                    href={achievement.url}
                    class="font-semibold text-red-600 transition-colors duration-300 hover:text-red-700"
                  >
                    Learn More
                  </a>
                )}
              </div>
            ))
          }
        </div>
        <div class="mt-12 text-center">
          <a
            href="/achievements"
            class="rounded-full bg-red-600 px-8 py-3 text-lg font-semibold text-white transition-colors duration-300 hover:bg-red-700"
          >
            View More Achievements
          </a>
        </div>
      </div>
    </section>

    {/* About Section */}
    <section id="about" class="bg-white py-20">
      <div class="container mx-auto px-4">
        <div
          class="flex flex-col items-center justify-center md:flex-row md:justify-start md:space-x-12 md:space-y-0"
        >
          <img
            src="https://avatars.githubusercontent.com/u/38299977"
            class="h-64 w-64 rounded-full object-cover"
          />
          <div class="text-center md:text-left">
            {/* Center text on small screens */}
            <h2 class="mb-4 text-3xl font-bold">About Me</h2>
            <p class="mb-4 text-gray-600">
              I'm a passionate software engineer with expertise in
              cybersecurity. I've worked on a wide range of projects from
              startups to Fortune 500 companies.
            </p>
            <p class="mb-4 text-gray-600">
              My goal is to create innovative solutions that make a positive
              impact on people's lives while ensuring the highest level of
              security.
            </p>
            <SocialLinks />
          </div>
        </div>
      </div>
    </section>

    {/* Blog Section */}
    <section id="blog" class="bg-red-50 py-20">
      <div class="container mx-auto px-4">
        <h2 class="mb-8 text-center text-3xl font-bold">Latest Blog Posts</h2>
        <div class="space-y-8">
          {
            blogs.slice(0, 3).map((post) => (
              <div class="rounded-lg bg-white p-6 shadow-md">
                <h3 class="mb-2 text-xl font-semibold">
                  {post.frontmatter.title}
                </h3>
                <p class="mb-2 text-sm text-gray-500">
                  {post.frontmatter.pubDate}
                </p>
                <p class="mb-4 text-gray-600">{post.frontmatter.description}</p>
                <a
                  href={post.url}
                  class="flex items-center font-semibold text-red-600 transition-colors duration-300 hover:text-red-700"
                >
                  Read More
                </a>
              </div>
            ))
          }
        </div>
        <div class="mt-12 text-center">
          <a
            href="/blog"
            class="rounded-full bg-red-600 px-8 py-3 text-lg font-semibold text-white transition-colors duration-300 hover:bg-red-700"
          >
            View All Blog Posts
          </a>
        </div>
      </div>
    </section>

    {/* Donate Section */}
    <section id="donate" class="bg-white py-20">
      <div class="container mx-auto px-4 text-center">
        <h2 class="mb-4 text-3xl font-bold">Support My Work</h2>
        <p class="mx-auto mb-8 max-w-2xl text-gray-600">
          Your donations help me continue creating open-source projects and
          contributing to the developer community.
        </p>
        <a
          href="https://github.com/sponsors/redyetidev"
          class="rounded-full bg-red-600 px-8 py-3 text-lg font-semibold text-white transition-colors duration-300 hover:bg-red-700"
        >
          Make a Donation
        </a>
      </div>
    </section>
  </main>
</MainLayout>
