---
import { Icon } from "astro-icon/components";

import LinkCard from "./LinkCard.astro";

const { post } = Astro.props;
---

<LinkCard url={post.url}>
  <div class="flex flex-1 flex-col">
    <h2 class="mb-2 text-xl font-semibold">{post.frontmatter.title}</h2>
    <p
      class="mb-4 flex-1 text-gray-600"
      set:html={post.frontmatter.description}
    />
    <div class="flex items-center justify-between text-sm text-gray-500">
      <div class="flex items-center">
        <Icon name="mdi:calendar" size={16} class="mr-1" />
        <span>{post.frontmatter.pubDate}</span>
      </div>
      <div class="flex items-center">
        <Icon name="mdi:clock" size={16} class="mr-1" />
        <span>{post.frontmatter.readingTime}</span>
      </div>
    </div>
  </div>
</LinkCard>
