---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
const { project } = Astro.props;
---

<div
  class="flex flex-col overflow-hidden rounded-lg bg-white shadow-md transition duration-300 hover:-translate-y-1 hover:shadow-lg"
>
  {
    project.image && (
      <Image
        src={project.image}
        alt={project.title}
        class="h-48 w-full object-cover"
      />
    )
  }
  <div class="flex-1 p-6 pb-0">
    <h2 class="mb-2 text-2xl font-semibold">{project.title}</h2>
    <p class="mb-4 text-gray-600">{project.description}</p>
    {
      project.technologies && (
        <div class="mb-4">
          <h3 class="mb-2 text-lg font-semibold">Technologies Used:</h3>
          <div class="flex flex-wrap gap-2">
            {project.technologies.map((tech) => (
              <span class="rounded bg-red-100 px-2.5 py-0.5 text-sm font-medium text-red-800">
                {tech}
              </span>
            ))}
          </div>
        </div>
      )
    }
  </div>
  <div class="mt-auto flex justify-between p-6 pt-0">
    <a
      href={project.githubLink}
      class="inline-flex items-center font-semibold text-red-600 transition-colors duration-300 hover:text-red-700"
    >
      <Icon name="mdi:github" size={20} class="mr-1" />
      View Code
    </a>
    {
      project.website && (
        <a
          href={project.website}
          class="inline-flex items-center font-semibold text-red-600 transition-colors duration-300 hover:text-red-700"
        >
          <Icon name="mdi:external-link" size={20} class="mr-1" />
          Website
        </a>
      )
    }
  </div>
</div>
