---
import { Icon } from "astro-icon/components";

const { frontmatter } = Astro.props;

const title = encodeURIComponent(frontmatter.title);
const desc = encodeURIComponent(frontmatter.description);

const shareURLs = [
  {
    icon: "simple-icons:x",
    url: `https://twitter.com/share?url=${Astro.url}&text=${title}`,
  },
  {
    icon: "simple-icons:linkedin",
    url: `https://www.linkedin.com/shareArticle?url=${Astro.url}&text=${title}`,
  },
  {
    icon: "simple-icons:facebook",
    url: `https://www.facebook.com/sharer/sharer.php?u=${Astro.url}`,
  },
  {
    icon: "simple-icons:ycombinator",
    url: `https://news.ycombinator.com/submitlink?u=${Astro.url}&t=${title}`,
  },
  {
    icon: "simple-icons:reddit",
    url: `https://www.reddit.com/submit?u=${Astro.url}&t=${title}`,
  },
  {
    icon: "simple-icons:gmail",
    url: `mailto:?subject=${title}&text=${desc}%0A${Astro.url}`,
  },
];
---

<div class="flex space-x-4">
  {
    shareURLs.map(({ icon, url }) => (
      <a
        href={url}
        class="text-red-600 transition-colors duration-300 hover:text-red-700"
      >
        <Icon name={icon} size={18} />
      </a>
    ))
  }
</div>
